* {
  margin: 0;
  padding: 0;
}
.containerGame{
  width: 100vw;
  height: 600px;
}

.space {
  background: url("../sources/parallax-space-backgound.png");
  background-size: contain;
  animation: moveSpace 30s linear infinite;
}
.planet {
  background: url("../sources/parallax-space-far-planets.png");
  background-size: contain;
  animation: moveSpace 20s linear infinite;
}
.stars {
  background: url("../sources/parallax-space-stars.png");
  background-size: contain;
  animation: moveSpace 4s linear infinite;
}

@keyframes moveSpace {
  0% {
    background-position: 550px;
  }
  100% {
    background-position: 0;
  }
}
.pos1{
  top: 0px;
}
.pos2{
  top: 200px;
}
.pos3{
  top: 400px;
}
.asteroid {
  position: absolute;
  width: 200px;
  height: 200px;
  background-image: url("../sources/asteroid.png");
  background-size: contain;
  animation: 10s rotate linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
    right: 0vw;
  }
  to {
    transform: rotate(360deg);
    right: 100vw;
  }
}
.person {
  position: absolute;
  width:100.25px;
  height:96px;
  background-image: url("../sources/amoung.png");
  animation:fly 0.4s steps(8) infinite;
  left: 200px;
}

@keyframes fly {
  /* Partimos de la primera viñeta del sprite sheet */
  0% { background-position:0 }
  /* El tamaño total de ancho del sprite. Es negativo para que no "camine" hacia atrás */
  100% { background-position:-802px }
}


